
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Exif Viewer</h2>

<form action="~/Exif/Index"
      class="dropzone"
      id="dropzoneForm"
       method="post"
      enctype="multipart/form-data">

    <input name="file" type="file" multiple />
    <input type="submit" value="Upload" />

</form>